{% extends "base.html" %}
{% block content %}
<h1>User : {{ user }} </h1>
<h2>Update questionnaire</h2>
{% for item in question_items %}
<form action="{% url 'api:update_param_q' item.id  %}" method="post">
    {% csrf_token %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ item.id }}">
    <label for="choice{{ forloop.counter }}">{{ item.question_text }}</label><br>
    <input type="text" name="new_name" id="new_name{{ forloop.counter }}" value="">
    <input type="submit" value="Update">
</form>
    {% endfor %}
{% endblock %}
